
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inter, sans-serif;
}

/* Typography */
header h1{
    font-size: 43px;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: -0.045em;
}

header a{
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
}

#search-input, #search-btn{
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}

.start-exploring{
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
}



/* Layout */
header{
    background-color: #0e1111;
    color: whitesmoke;
    height: 208px;
    width: 100%;
    position: relative;
}   

header h1{
    margin: 82px 0 0 42px;
    position: absolute;
    top: 0;
}

header #saved-movies{
    margin: 95px 42px 0 0;
    position: absolute;
    top: 0;
    right: 0;
}

header img{
    object-fit: fill;
    height: 208px;
    width: 100%;
    
}

header a{
    text-decoration: none;
    color: whitesmoke;
}

.search-bar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    padding: 0 44px;
    bottom: -20px;
}

#search-input{
    padding: 9px 41px;
    width: 100%;  
    border-radius: 6px 0 0px 6px;
    border: 1px solid #D1D5DB;
    color: #6B7280;
    background: url(/images/search-icon.png) no-repeat left 15px center white;
}

#search-btn {
    padding: 9px 38px;
    text-align: center;
    background: #F9FAFB;
    color: #374151;
    border: 1px solid #D1D5DB;
    border-radius: 0px 6px 6px 0px;
}

.start-exploring{
    margin-top: 212px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #DFDDDD;
}

.start-exploring img{
    height: 61.24997329711914px;
    width: 70px;
    margin-bottom: 9px;
}



/* UX */

img{
    -webkit-user-drag: none;
}

header, .start-exploring{
    user-select: none;
}

#search-input:focus{
    outline: none;
}

#search-btn:hover{
    cursor: pointer;
}

#search-btn:focus{
    border-color: #D1D5DB;
}
#search-btn:active{
    border-color: #0e1111;
}